.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

header {
  color: white;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}


.carousel {
  display: flex;
  margin: auto;
  max-width: 800px;
  padding: 15px;
  position: relative;
  text-align: center;
}

.scroller {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.carousel-item {
  margin-bottom: 10px;
  max-height: 150px;
  min-width: 100%;
  padding: 0 50px;
  scroll-snap-align: center;
}

.carousel-item img {
  border: solid 4px rgb(237, 238, 240);
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  height: 200px;
  margin: 15px auto -60px;
  width: 200px;
  z-index: 2;
}

.card {
  background-color: rgb(237, 242, 247);
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  padding: 80px 40px 40px;
  z-index: 1;
}

.card p {
  font-style: italic;
  line-height: 1.6;
}

.carousel .btn {
  background-color: rgba(95, 106, 117, 0.3);
  border-radius: 15px;
  color: white;
  height: 30px;
  line-height: 30px;
  margin-top: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 30px;
  z-index: 1;
}

.carousel .btn:hover {
  background-color: rgba(95, 106, 117, 0.5);
  cursor: pointer;
}

.carousel .btn.next {
  right: 15px;
}

.carousel .btn.prev {
  left: 15px;
}

.fixed-btn {
  bottom: 0;
  left: 50%;
  position: fixed;
}

.btn-favorite-right {
  float: right;
}

.tooltip-text {
  display: none;
}

.btn-share {
  background-image: url('./images/shareIcon.svg');
  bottom: 0;
  position: fixed;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.footer {
  background-color: grey;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  width: 100%;
}
